<nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-info" id="mainNav">
  <div class="container"><img src="assets/image/logo.png" alt="" class="navbar-brand" width="100"><button data-toggle="collapse" data-target="#navbarResponsive" class="navbar-toggler navbar-toggler-right" type="button" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto text-uppercase">
              <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/reception#patient">Nos Patients</a></li>
              <li class="nav-item"></li>
              <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/reception#ajouter">Ajout Patient</a></li>
              <li class="nav-item"></li>
              <li class="nav-item">
                <a
                  *ngIf="authService.isAuthenticated()"
                  class="nav-link"
                  routerLinkActive="active text-primary"
                  (click)="logout()"
                >
                  <b> Logout</b> 
                </a>
              </li>
              <li class="nav-item"></li>
          </ul>
      </div>
  </div>
</nav>
<header class="masthead" style="background-image:url('assets/image/med5.jpg');">
  
  <div class="container">
      <div class="intro-text">
        
          <div class="intro-lead-in"><span>Bienvenu {{username}}</span></div>
   </div>
  </div>
</header>
 


<section class="bg-light" id="patient"> 
  <div style="background-color: bg-info"  >
    <div class="container" >
      <div class="row">
          <div class="col-lg-12 text-center">
              <h2 class="text-uppercase section-heading">Patient</h2>
          </div>
      </div>
      <div class="row">
          <div class="col-lg-12">
            <table class="table" id='patients' >
              <thead class="thead-light">
                  <tr class="bg-light">
                      <th>nom</th>
                      <th>prenom</th>
                      <th>origine</th>
                      <th>status sociale</th>
                      <th>service admission</th>
                      <th> Activités </th>
                      
                   
                  </tr>
              </thead>
              <tr *ngFor="let patient of patients ">
                  <th>{{patient.nom}}</th>
                  <th>{{patient.prenom}}</th>
                  <th>{{patient.origine}}</th>
                  <th>{{patient.statutSociale}}</th>
                  <th>{{patient.servicesAdmission}}</th>
                  <th>
                    <button   type="button" class="btn btn-outline-secondary" [routerLink]="['/updateReception',patient.id]"> update</button>
                    <button type="button" class="btn btn-outline-secondary" (click)="deletePatient(patient.id)"> delete</button>
                </th>
                 
              </tr>
          </table>
    
          </div>
      </div>
    </div>
    </div>
    
  
</section>

<section class="bg-light" id="ajouter"> 
  <div style="background-color: bg-info"  >
    <div class="container" >
      <div class="row">
          <div class="col-lg-12 text-center">
              <h2 class="text-uppercase section-heading">Ajouter un Patient</h2>
          </div>
      </div>
      <div class="row">
          <div class="col-lg-12">
              <form #monFormulaire="ngForm">
                  <div class="form-row">
                      <div class="col-md-6">
                        <h4 class="text-uppercase section-heading"> coordonnée</h4>
    
                          <div class="form-group">
                            <input ngModel class="form-control" type="text" id="nom"  name="nom" placeholder="nom  patient*" required [(ngModel)]="patientAdd.nom" /><small class="form-text text-danger flex-grow-1 help-block lead"></small></div>
                            <div class="form-group">
                            <input ngModel class="form-control" type="text" id="prenom" name="prenom"  placeholder="prenom patient*"  required [(ngModel)]="patientAdd.prenom" /><small class="form-text text-danger help-block lead"></small></div>
                            <div class="form-group">
                              <input ngModel class="form-control" type="text" id="origine" name="origine"  placeholder="origine patient *" required [(ngModel)]="patientAdd.origine" /><small class="form-text text-danger help-block lead"></small></div>
                              <div class="form-group">
                                <input ngModel class="form-control" type="text" id="profession" name="profession"  placeholder="profession patient  *" required [(ngModel)]="patientAdd.profession" /><small class="form-text text-danger help-block lead"></small></div>
                                <div class="form-group">
                                  <input ngModel class="form-control" type="text" id="age" name="age"  placeholder="age patient  *" required [(ngModel)]="patientAdd.age" /><small class="form-text text-danger help-block lead"></small></div>
                                  <div class="form-group">
                                    <input ngModel class="form-control" type="text" id="statutSociale" name="statutSociale"  placeholder="statut Sociale patient  *" required [(ngModel)]="patientAdd.statutSociale" /><small class="form-text text-danger help-block lead"></small></div>
                                    <div class="form-group">
                                      <input ngModel class="form-control" type="text" id="systemeDeSoin" name="systemeDeSoin"  placeholder="systeme De Soin  *" required [(ngModel)]="patientAdd.systemeDeSoin" /><small class="form-text text-danger help-block lead"></small></div>
                            
                      
                              </div>
    
                      <div class="col-md-6">
                        <h4 class="text-uppercase section-heading">cordonnée medicaux</h4>
    
                        <div class="form-group">
                          <input ngModel class="form-control" type="text" id="motifConsultation" name="motifConsultation"  placeholder="motif Consultation  *" required [(ngModel)]="patientAdd.motifConsultation" /><small class="form-text text-danger help-block lead"></small></div>
                
                          <div class="form-group">
                            <input ngModel class="form-control" type="text" id="signesActuels" name="signesActuels"  placeholder="signes Actuels  *" required [(ngModel)]="patientAdd.signesActuels" /><small class="form-text text-danger help-block lead"></small></div>
                  
                            <div class="form-group">
                              <input ngModel class="form-control" type="text" id="natureUrgence" name="natureUrgence"  placeholder="nature Urgence  *" required [(ngModel)]="patientAdd.natureUrgence" /><small class="form-text text-danger help-block lead"></small></div>
                    
                              <div class="form-group">
                                <input ngModel class="form-control" type="text" id="servicesAdmission" name="servicesAdmission"  placeholder="services Admission  *" required [(ngModel)]="patientAdd.servicesAdmission" /><small class="form-text text-danger help-block lead"></small></div>
                  
                                
                          <div class="form-group">
                            <select ngModel class="form-control" name="medecin" required [(ngModel)]="patientAdd.medecin" id="medecin" >
                              <option *ngFor="let medecin of medecins" >{{medecin.username}}</option>
                            </select>
                           <small class="form-text text-danger help-block lead"></small></div>
                           <div class="form-group">
                            <select ngModel class="form-control" name="infirmier" required [(ngModel)]="patientAdd.infirmier" id="infirmier" >
                              <option *ngFor="let infirmier of infirmiers" >{{infirmier.username}}</option>
                            </select>
                           <small class="form-text text-danger help-block lead"></small></div>


                          </div>



                      <div class="clearfix"></div>
                      <div class="col-lg-12 text-center">
                          <div id="success"></div>
                          <button
                          
                          
                          (click)="createPatient()"
                           class="btn btn-info btn-xl text-uppercase" type="submit">Ajouter</button>
                           <button
                           (click)="Annuler()"
                           class="btn btn-info btn-xl text-uppercase" type="submit">Annuler</button>
                      </div>
                    </div>
              </form>
          </div>
      </div>
    </div>
    </div>
    
  
</section>




