<div style="background-image:url('../../../assets/image/patient.jpg');background-size: cover;
background-repeat: no-repeat;">
    <div class="container" >
      <div class="row">
          <div class="col-lg-12 text-center">
              <h2 class="text-uppercase section-heading">details du patient </h2>
          </div>
      </div>
      <div class="row">
          <div class="col-lg-12">
            <form #monFormulaire="ngForm">
                <div class="form-row">
                    <div class="col-md-6">
                      <h4 class="text-uppercase section-heading"> coordonnée</h4>
  
                        <div class="form-group">
                          <input ngModel class="form-control" type="text" id="nom"  name="nom" placeholder="nom  patient*" required [(ngModel)]="patientAdd.nom" /><small class="form-text text-danger flex-grow-1 help-block lead"></small></div>
                          <div class="form-group">
                          <input ngModel class="form-control" type="text" id="prenom" name="prenom"  placeholder="prenom patient*"  required [(ngModel)]="patientAdd.prenom" /><small class="form-text text-danger help-block lead"></small></div>
                          <div class="form-group">
                            <input ngModel class="form-control" type="text" id="origine" name="origine"  placeholder="origine patient *" required [(ngModel)]="patientAdd.origine" /><small class="form-text text-danger help-block lead"></small></div>
                            <div class="form-group">
                              <input ngModel class="form-control" type="text" id="profession" name="profession"  placeholder="profession patient  *" required [(ngModel)]="patientAdd.profession" /><small class="form-text text-danger help-block lead"></small></div>
                              <div class="form-group">
                                <input ngModel class="form-control" type="text" id="age" name="age"  placeholder="age patient  *" required [(ngModel)]="patientAdd.age" /><small class="form-text text-danger help-block lead"></small></div>
                                <div class="form-group">
                                  <input ngModel class="form-control" type="text" id="statutSociale" name="statutSociale"  placeholder="statut Sociale patient  *" required [(ngModel)]="patientAdd.statutSociale" /><small class="form-text text-danger help-block lead"></small></div>
                                  <div class="form-group">
                                    <input ngModel class="form-control" type="text" id="systemeDeSoin" name="systemeDeSoin"  placeholder="systeme De Soin  *" required [(ngModel)]="patientAdd.systemeDeSoin" /><small class="form-text text-danger help-block lead"></small></div>
                          
                    
                            </div>
  
                    <div class="col-md-6">
                      <h4 class="text-uppercase section-heading">cordonnée medicaux</h4>
  
                      <div class="form-group">
                        <input ngModel class="form-control" type="text" id="motifConsultation" name="motifConsultation"  placeholder="motif Consultation  *" required [(ngModel)]="patientAdd.motifConsultation" /><small class="form-text text-danger help-block lead"></small></div>
              
                        <div class="form-group">
                          <input ngModel class="form-control" type="text" id="signesActuels" name="signesActuels"  placeholder="signes Actuels  *" required [(ngModel)]="patientAdd.signesActuels" /><small class="form-text text-danger help-block lead"></small></div>
                
                          <div class="form-group">
                            <input ngModel class="form-control" type="text" id="natureUrgence" name="natureUrgence"  placeholder="nature Urgence  *" required [(ngModel)]="patientAdd.natureUrgence" /><small class="form-text text-danger help-block lead"></small></div>
                  
                            <div class="form-group">
                              <input ngModel class="form-control" type="text" id="servicesAdmission" name="servicesAdmission"  placeholder="services Admission  *" required [(ngModel)]="patientAdd.servicesAdmission" /><small class="form-text text-danger help-block lead"></small></div>
                
                              <div class="form-group">
                                <input ngModel class="form-control" type="text" id="medecin" name="medecin"  [disabled]="true" placeholder="medecin  *" required [(ngModel)]="patientAdd.medecin.username" /><small class="form-text text-danger help-block lead"></small></div>
                      

                                <div class="form-group">
                                    <input ngModel class="form-control" type="text" id="infirmier" name="infirmier" [disabled]="true" placeholder="infirmier  *" required [(ngModel)]="patientAdd.infirmier.username" /><small class="form-text text-danger help-block lead"></small></div>
                          
                       
                         


                        </div>


                        <div class="col-md-6">
                            <h4 class="text-uppercase section-heading">Medecin</h4>
        
                            <div class="form-group">
                              <input ngModel class="form-control" type="text" id="AtcdMedicaux" name="AtcdMedicaux"  placeholder="AtcdMedicaux  *" required [(ngModel)]="patientAdd.AtcdMedicaux" /><small class="form-text text-danger help-block lead"></small></div>
                    
                              <div class="form-group">
                                <input ngModel class="form-control" type="text" id="atcdHabituede" name="atcdHabituede"  placeholder="atcdHabituede  *" required [(ngModel)]="patientAdd.atcdHabituede" /><small class="form-text text-danger help-block lead"></small></div>
                      
                                <div class="form-group">
                                  <input ngModel class="form-control" type="text" id="atcdFamilaux" name="atcdFamilaux"  placeholder="atcdFamilaux  *" required [(ngModel)]="patientAdd.atcdFamilaux" /><small class="form-text text-danger help-block lead"></small></div>
                        
                                  <div class="form-group">
                                    <input ngModel class="form-control" type="text" id="atcdChirurgicaux" name="atcdChirurgicaux"  placeholder="atcdChirurgicaux  *" required [(ngModel)]="patientAdd.atcdChirurgicaux" /><small class="form-text text-danger help-block lead"></small></div>
                      
                                    <div class="form-group">
                                      <input ngModel class="form-control" type="text" id="obstetricaux" name="obstetricaux"   placeholder="obstetricaux  *" required [(ngModel)]="patientAdd.obstetricaux" /><small class="form-text text-danger help-block lead"></small></div>
                            
      
                                      <div class="form-group">
                                          <input ngModel class="form-control" type="text" id="radio" name="radio"  placeholder="radio  *" required [(ngModel)]="patientAdd.radio" /><small class="form-text text-danger help-block lead"></small></div>
                                
                                     <div class="form-group">
                                            <input ngModel class="form-control" type="text" id="resultatRadio" name="resultatRadio" [disabled]="true" placeholder="resultatRadio  " required [(ngModel)]="patientAdd.resultatRadio" /><small class="form-text text-danger help-block lead"></small></div>
                                
                                       
                               
      
      
                              </div>

                              
                        <div class="col-md-6">
                            <h4 class="text-uppercase section-heading">Medecin</h4>

                            <div class="form-group">
                                <input ngModel class="form-control" type="text" id="bilan" name="bilan"   placeholder="bilan  *" required [(ngModel)]="patientAdd.bilan" /><small class="form-text text-danger help-block lead"></small></div>
     <div class="form-group">
                                    <input ngModel class="form-control" type="text" id="resultatBilan" name="resultatBilan" [disabled]="true" placeholder="resultatBilan  " required [(ngModel)]="patientAdd.resultatBilan" /><small class="form-text text-danger help-block lead"></small></div>
      
        
                                    <div class="form-group">
                                                <input ngModel class="form-control" type="text" id="traitementPrescrit" name="traitementPrescrit"  placeholder="traitementPrescrit  *" required [(ngModel)]="patientAdd.traitementPrescrit" /><small class="form-text text-danger help-block lead"></small></div>
                                
                                     <div class="form-group">
                                                    <input ngModel class="form-control" type="text" id="evolution" name="evolution"  placeholder="evolution  *" required [(ngModel)]="patientAdd.evolution" /><small class="form-text text-danger help-block lead"></small></div>
                                          
                                     <div class="form-group">
                                                        <input ngModel class="form-control" type="text" id="resultatExamenCliniue" name="resultatExamenCliniue"  placeholder="resultatExamenCliniue  *" required [(ngModel)]="patientAdd.resultatExamenCliniue" /><small class="form-text text-danger help-block lead"></small></div>
                                    <div class="form-group">
                                                            <input ngModel class="form-control" type="text" id="resultatExamenPhysique" name="resultatExamenPhysique"  placeholder="resultatExamenPhysique  *" required [(ngModel)]="patientAdd.resultatExamenPhysique" /><small class="form-text text-danger help-block lead"></small></div>
                                                                                     
      
      
                              </div>


                              <div class="col-md-6">
                                <h4 class="text-uppercase section-heading">Infirmier</h4>
    
                                <div class="form-group">
                                    <input ngModel class="form-control" type="text" id="soindHygiene" name="soindHygiene" [disabled]="true" placeholder="soindHygiene  " required [(ngModel)]="patientAdd.soindHygiene" /><small class="form-text text-danger help-block lead"></small></div>
         <div class="form-group">
                                        <input ngModel class="form-control" type="text" id="alimentation" name="alimentation" [disabled]="true" placeholder="alimentation  " required [(ngModel)]="patientAdd.alimentation" /><small class="form-text text-danger help-block lead"></small></div>
          
            
                                        <div class="form-group">
                                                    <input ngModel class="form-control" type="text" id="signeVitaux" name="signeVitaux" [disabled]="true"  placeholder="signeVitaux  " required [(ngModel)]="patientAdd.signeVitaux" /><small class="form-text text-danger help-block lead"></small></div>
                                    
                                         <div class="form-group">
                                                        <input ngModel class="form-control" type="text" id="bilanPrelevee" name="bilanPrelevee" [disabled]="true" placeholder="bilanPrelevee  " required [(ngModel)]="patientAdd.bilanPrelevee" /><small class="form-text text-danger help-block lead"></small></div>
                                              
                                         <div class="form-group">
                                                            <input ngModel class="form-control" type="text" id="surveillancee" name="surveillance" [disabled]="true" placeholder="surveillance  " required [(ngModel)]="patientAdd.surveillance" /><small class="form-text text-danger help-block lead"></small></div>
                                        <div class="form-group">
                                                                <input ngModel class="form-control" type="text" id="traitementAdministree" name="traitementAdministree" [disabled]="true" placeholder="traitementAdministree  " required [(ngModel)]="patientAdd.traitementAdministree" /><small class="form-text text-danger help-block lead"></small></div>
                                                                                         
          
          
                                  </div>


                    <div class="clearfix"></div>
                    <div class="col-lg-12 text-center">
                        <div id="success"></div>
                        <button
                        
                        (click)="processForm()"
                        
                         class="btn btn-info btn-xl text-uppercase" type="submit">Modifier</button>
                         <button
                         (click)="Annuler()"
                         class="btn btn-info btn-xl text-uppercase" type="submit">Annuler</button>
                    </div>
                  </div>
            </form>
          </div>
      </div>
    </div>
    </div>
                   

